{{!-- Feel free to remove this! --}}
<h1>Welcome {{name}}!!</h1>

{{model.length}} total foods !!
{{menuAvailable.length}} are Available !!
<ul>
{{#each model as |food|}}
<li>
{{food.name}} is
 {{#if food.isAvailable}}
    <button {{action "makeUnavailable" food}}> Make Un Available</button>
{{else}}
    <button {{action "makeAvailable" food}}> Make Available</button>
    <button {{action "destroy" food}}>Delete</button>
{{/if}}
</li>
{{/each}}
</ul>

<hr>
{{input value=newItem}}
<button {{action "saveItem"}}> Save </button>
{{outlet}}
